## Energy Consumption and Population Growth

### This notebook contains data analysis processes in fulfillment of the Energy Data Analysis ERBE module

#### This notebook aims to answer the overarching research question: What is the historical relationship between population growth and electricity consumption, between the years 2015 and 2020, in the UK? 

The data used is open access: 
BEIS (2022) available from: https://www.gov.uk/government/collections/sub-national-electricity-consumption-data#lsoa/msoa-data;
ONS (2021) available from: https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland 
London Borough of Camden (2022) NSPL, available from: https://opendata.camden.gov.uk/Maps/National-Statistics-Postcode-Lookup-UK-Coordinates/77ra-mbbn/data

## Set up

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

## Data reading

In [2]:
# List in the energy consumption datasets
csv_files=[filename for filename in os.listdir() if filename.endswith('.csv')]
csv_files

['Dataset2015A-L.csv',
 'Dataset2015L-Z.csv',
 'Dataset2016A-K.csv',
 'Dataset2016K-Z.csv',
 'Dataset2017A-K.csv',
 'Dataset2017K-Z.csv',
 'Dataset2018A-K.csv',
 'Dataset2018K-Z.csv',
 'Dataset2019A-K.csv',
 'Dataset2019K-Z.csv',
 'Dataset2020A-K.csv',
 'Dataset2020K-Z.csv']

In [3]:
# read in all the energy consumption files into single dataframe 
for i, csv_file in enumerate(csv_files):
    print(i, csv_file)
    df1=pd.read_csv(csv_file)
    df1['Year']=int(csv_file[7:11])
    if i==0:
        df=df1
    else:
        df=df.append(df1, ignore_index=True)
df

0 Dataset2015A-L.csv
1 Dataset2015L-Z.csv
2 Dataset2016A-K.csv
3 Dataset2016K-Z.csv
4 Dataset2017A-K.csv
5 Dataset2017K-Z.csv
6 Dataset2018A-K.csv
7 Dataset2018K-Z.csv
8 Dataset2019A-K.csv
9 Dataset2019K-Z.csv
10 Dataset2020A-K.csv
11 Dataset2020K-Z.csv

,POSTCODE,Number of meters,Consumption (kWh),Mean consumption (kWh),Median consumption (kWh),Year
0,AB10,188,744918.3,3962.331383,3189.90,2015
1,AB10 1AU,24,44997.1,1874.879167,1507.70,2015
2,AB10 1BA,29,61458.4,2119.255172,1832.30,2015
3,AB10 1BB,6,16915.9,2819.316667,2216.20,2015
4,AB10 1FG,25,68685.4,2747.416000,2110.30,2015
...,...,...,...,...,...,...
6967154,ZE3 9JU,16,46100.0,2881.250000,2694.25,2020
6967155,ZE3 9JW,24,153124.7,6380.195833,5010.25,2020
6967156,ZE3 9JX,12,35319.2,2943.266667,2085.20,2020
6967157,ZE3 9JY,6,22051.1,3675.183333,3412.75,2020
6967158,ZE3 9JZ,22,81955.5,3725.250000,2972.30,2020

In [4]:
# List the geographial info data 
df2_files=[filename for filename in os.listdir() if filename.endswith('National_Statistics_Postcode_Lookup_UK_Coordinates.csv')]
df2_files

['National_Statistics_Postcode_Lookup_UK_Coordinates.csv']

In [5]:
# Read in the geographical data into a dataframe 
df2 = pd.read_csv('National_Statistics_Postcode_Lookup_UK_Coordinates.csv')
df2

,Postcode 1,Postcode 2,Postcode 3,Easting,Northing,Positional Quality,Local Authority Name,Longitude,Latitude,Spatial Accuracy,Last Uploaded,Location,Socrata ID
0,OX277JB,OX27 7JB,OX27 7JB,"452,441","231,398",1,Cherwell,-1.237908,51.978579,Postcode Level,25/03/2022,"(51.978579, -1.237908)","1,170,082"
1,NR205NQ,NR20 5NQ,NR20 5NQ,"602,341","322,685",1,Breckland,0.997549,52.763851,Postcode Level,25/03/2022,"(52.763851, 0.997549)","1,116,631"
2,GU214YG,GU21 4YG,GU21 4YG,"501,486","161,144",1,Woking,-0.544414,51.340335,Postcode Level,25/03/2022,"(51.340335, -0.544414)","660,432"
3,GU220AJ,GU22 0AJ,GU22 0AJ,"500,212","157,469",1,Woking,-0.563730,51.307526,Postcode Level,25/03/2022,"(51.307526, -0.56373)","660,917"
4,DA8 1DN,DA8 1DN,DA8 1DN,"550,158","177,683",1,Bexley,0.160890,51.478181,Postcode Level,25/03/2022,"(51.478181, 0.16089)","410,039"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1772614,L35 7LG,L35 7LG,L35 7LG,"347,847","392,726",1,Knowsley,-2.786370,53.428730,Postcode Level,25/03/2022,"(53.42873, -2.78637)","820,849"
1772615,SG2 9AT,SG2 9AT,SG2 9AT,"525,034","222,749",1,Stevenage,-0.184555,51.889282,Postcode Level,25/03/2022,"(51.889282, -0.184555)","1,409,349"
1772616,WA8 7ND,WA8 7ND,WA8 7ND,"351,236","385,641",1,Halton,-2.734273,53.365376,Postcode Level,25/03/2022,"(53.365376, -2.734273)","1,698,060"
1772617,OX142RF,OX14 2RF,OX14 2RF,"450,974","199,075",1,Vale of White Horse,-1.264015,51.688125,Postcode Level,25/03/2022,"(51.688125, -1.264015)","1,162,668"
1772618,PE3 7BD,PE3 7BD,PE3 7BD,"517,124","300,090",1,Peterborough,-0.272661,52.586008,Postcode Level,25/03/2022,"(52.586008, -0.272661)","1,204,642"

In [7]:
# List the population data 
df3_files=[filename for filename in os.listdir() if filename.endswith('.xls')]
df3_files

['ukpopestimatesmid2020on2021geography.xls']

In [8]:
# Read in the data as a dataframe, skipping the first 7 rows of text (as found by reviewing sheet in excel)
df3 = pd.read_excel('ukpopestimatesmid2020on2021geography.xls', sheet_name = 'MYE 7', skiprows=7)
df3

,Code,Name,Geography,2011 Census,2011 Empirical 95% confidence interval - \nlower bound,2011 Empirical 95% confidence interval - \nupper bound,2011 Mid-year estimate,2012 Empirical 95% confidence interval - \nlower bound,2012 Empirical 95% confidence interval - \nupper bound,2012 Mid-year estimate,...,2017 Mid-year estimate,2018 Empirical 95% confidence interval - \nlower bound,2018 Empirical 95% confidence interval - \nupper bound,2018 Mid-year estimate,2019 Empirical 95% confidence interval - \nlower bound,2019 Empirical 95% confidence interval - \nupper bound,2019 Mid-year estimate,2020 Empirical 95% confidence interval - \nlower bound,2020 Empirical 95% confidence interval - \nupper bound,2020 Mid-year estimate
0,E06000047,County Durham,Unitary Authority,513242,505210.46875,520393.625,512994,504956.125,520182.875,514261,...,523662,502976.21875,526759.625,526980,503255.78125,529728.375,530094,500567.072886,533998.611155,533149
1,E06000005,Darlington,Unitary Authority,105564,104116.5625,106986.32813,105584,104195.5,107093.13281,105503,...,106347,104412.21094,108029.94531,106566,104437.40625,108191.52344,106803,104996.45145,108884.6346,107402
2,E06000001,Hartlepool,Unitary Authority,92028,90518.398438,93652.078125,92088,90685.328125,93830.570313,92261,...,93019,90499.429688,93881.46875,93242,90652.40625,94186.945313,93663,90441.311462,94105.845797,93836
3,E06000002,Middlesbrough,Unitary Authority,138412,135968.34375,140743.70313,138368,136285.21875,141321.71875,138726,...,140639,140469.15625,148129.875,140545,141286.375,149712.54688,140980,141512.558992,151665.818929,141285
4,E06000057,Northumberland,Unitary Authority,316028,311991.6875,320807.59375,316278,311988.8125,321048.21875,316489,...,319030,312941.1875,322742.96875,320274,314708,324493.0625,322434,316067.842218,326329.555324,323820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,W06000018,Caerphilly / Caerffili,Unitary Authority,178806,176100.75,181297.1875,178782,176332.875,181610.57813,179014,...,180795,177879.29688,183397.45313,181019,177735.09375,183446.29688,181075,178454.750951,184275.430516,181731
350,W06000019,Blaenau Gwent / Blaenau Gwent,Unitary Authority,69814,68946.710938,70672.617188,69812,68904.507813,70624.1875,69806,...,69609,68847.335938,70785.171875,69713,69027.132813,71002.15625,69862,69177.123862,71200.685172,70020
351,W06000020,Torfaen / Tor-faen,Unitary Authority,91075,90029.898438,92319.953125,91190,90095.195313,92430.382813,91346,...,92264,91338.007813,93806.296875,93049,92167.515625,94735.070313,93961,93127.429734,95795.22143,94832
352,W06000021,Monmouthshire / Sir Fynwy,Unitary Authority,91323,90158.757813,92815.28125,91508,89911.453125,92626.960938,91737,...,93590,91452.257813,94539.15625,94142,91864.445313,95100.148438,94590,92358.293968,95934.3622,95164
353,W06000022,Newport / Casnewydd,Unitary Authority,145736,143747.51563,147723.3125,145785,144338.90625,148499.125,146275,...,151485,152382.375,158573.04688,153302,153796.57813,160251.71875,154676,156779.77616,163809.66856,156447

## Data processing

Processing the electricity consumption dataset

In [12]:
# Grabbing only columns needed for research question analysis
df1=df[['POSTCODE','Consumption (kWh)', 'Year']]
df1

         POSTCODE  Consumption (kWh)  Year
0            AB10           744918.3  2015
1        AB10 1AU            44997.1  2015
2        AB10 1BA            61458.4  2015
3        AB10 1BB            16915.9  2015
4        AB10 1FG            68685.4  2015
...           ...                ...   ...
6967154   ZE3 9JU            46100.0  2020
6967155   ZE3 9JW           153124.7  2020
6967156   ZE3 9JX            35319.2  2020
6967157   ZE3 9JY            22051.1  2020
6967158   ZE3 9JZ            81955.5  2020

[6967159 rows x 3 columns]

In [13]:
# Searching for missing values
print(df1.isnull().sum())

POSTCODE             0
Consumption (kWh)    0
Year                 0
dtype: int64

In [14]:
# Describing the type of data contained 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6967159 entries, 0 to 6967158
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   POSTCODE           object
 1   Consumption (kWh)  float64
 2   Year               int64
dtypes: float64(1), int64(1), object(1)
memory usage: 159.5+ MB

Processing the geographical infomation dataset

In [15]:
# Grabbing only columns needed for research question analysis
df2=df2[['Postcode 1','Local Authority Name']]
df2

        Postcode 1 Local Authority Name
0          OX277JB             Cherwell
1          NR205NQ            Breckland
2          GU214YG               Woking
3          GU220AJ               Woking
4          DA8 1DN               Bexley
...            ...                  ...
1772614    L35 7LG             Knowsley
1772615    SG2 9AT            Stevenage
1772616    WA8 7ND               Halton
1772617    OX142RF  Vale of White Horse
1772618    PE3 7BD         Peterborough

[1772619 rows x 2 columns]

In [16]:
# Searching for missing values 
print(df2.isnull().sum())

Postcode 1              0
Local Authority Name    0
dtype: int64

In [17]:
# Describing the type of data contained 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1772619 entries, 0 to 1772618
Data columns (total 2 columns):
 #   Column                Dtype
---  ------                -----
 0   Postcode 1            object
 1   Local Authority Name  object
dtypes: object(2)
memory usage: 27.0+ MB

In [19]:
# Rename local authority and postcode columns for merging datasets
df2 = df2.rename(columns={'Postcode 1':'POSTCODE'})
df2 = df2.rename(columns={'Local Authority Name':'LA'})
df2

        POSTCODE                   LA
0        OX277JB             Cherwell
1        NR205NQ            Breckland
2        GU214YG               Woking
3        GU220AJ               Woking
4        DA8 1DN               Bexley
...          ...                  ...
1772614  L35 7LG             Knowsley
1772615  SG2 9AT            Stevenage
1772616  WA8 7ND               Halton
1772617  OX142RF  Vale of White Horse
1772618  PE3 7BD         Peterborough

[1772619 rows x 2 columns]

Creating new electricity consumption dataset with local authorities

In [22]:
# Merge df1 and df2 together on column postcode, to get the corresponding LA value in each row and group by year and LA
Mdf = pd.merge(df1, df2, on=['POSTCODE'], how='inner')
Mdf = Mdf.groupby(['Year','LA']).sum()
Mdf = Mdf.reset_index()
Mdf

      Year               LA  Consumption (kWh)
0     2015    Aberdeenshire       9.020826e+05
1     2015        Allerdale       2.977479e+07
2     2015     Amber Valley       2.900973e+07
3     2015            Angus       1.110653e+08
4     2015  Argyll and Bute       3.887052e+07
...    ...              ...                ...
1879  2020        Worcester       1.354678e+08
1880  2020         Wychavon       7.889945e+07
1881  2020             Wyre       1.639803e+08
1882  2020      Wyre Forest       1.346409e+06
1883  2020             York       9.600910e+06

[1884 rows x 3 columns]

Processing the local authority population level dataset

In [24]:
# Grabbing only columns needed for research question analysis
df3=df3[['Name', '2015 Mid-year estimate', '2016 Mid-year estimate','2017 Mid-year estimate', '2018 Mid-year estimate','2019 Mid-year estimate', '2020 Mid-year estimate']]
df3

,Name,2015 Mid-year estimate,2016 Mid-year estimate,2017 Mid-year estimate,2018 Mid-year estimate,2019 Mid-year estimate,2020 Mid-year estimate
0,County Durham,519347,521776,523662,526980,530094,533149
1,Darlington,105998,106327,106347,106566,106803,107402
2,Hartlepool,92498,92845,93019,93242,93663,93836
3,Middlesbrough,139310,140326,140639,140545,140980,141285
4,Northumberland,316453,317444,319030,320274,322434,323820
...,...,...,...,...,...,...,...
349,Caerphilly / Caerffili,180168,180453,180795,181019,181075,181731
350,Blaenau Gwent / Blaenau Gwent,69547,69630,69609,69713,69862,70020
351,Torfaen / Tor-faen,91767,91994,92264,93049,93961,94832
352,Monmouthshire / Sir Fynwy,92805,93276,93590,94142,94590,95164
353,Newport / Casnewydd,147958,149478,151485,153302,154676,156447

In [25]:
# Rename the columns in df3
df3 = df3.rename(columns={'Name':'LA'})
df3 = df3.rename(columns={'2015 Mid-year estimate' : '2015 Population'})
df3 = df3.rename(columns={'2015 Mid-year estimate' : '2015 Population'})
df3 = df3.rename(columns={'2016 Mid-year estimate' : '2016 Population'})
df3 = df3.rename(columns={'2017 Mid-year estimate' : '2017 Population'})
df3 = df3.rename(columns={'2018 Mid-year estimate' : '2018 Population'}) 
df3 = df3.rename(columns={'2019 Mid-year estimate' : '2019 Population'})
df3 = df3.rename(columns={'2020 Mid-year estimate' : '2020 Population'}) 
print(df3.columns)

Index(['LA', '2015 Population', '2016 Population', '2017 Population',
       '2018 Population', '2019 Population', '2020 Population'],
      dtype='object')

In [27]:
# Searching for mising values and describing the type of data contained 
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LA               354 non-null    object
 1   2015 Population  354 non-null    object
 2   2016 Population  354 non-null    object
 3   2017 Population  354 non-null    object
 4   2018 Population  354 non-null    object
 5   2019 Population  354 non-null    object
 6   2020 Population  354 non-null    object
dtypes: object(7)
memory usage: 19.5+ KB

## Data cleaning 
1. Electricity consumption data

In [ ]:
# Description of data

In [ ]:
# Finding outliers

In [ ]:
# Reindexing data for future merging with population dataset

## Data cleaning 
2. Population data

In [ ]:
# Description of data

In [ ]:
# Finding outliers

In [ ]:
# Reindexing data for future merging with population dataset

### Final data processing 
Merging datasets for analysis

In [ ]:
# Merge the datasets on columns 'Year' and 'Local Authority (LA)'

In [ ]:
# Show the dataset

## Data analysis